* {
  margin: 0;
  padding: 0;
}

/* header + nav: https://stackoverflow.com/questions/77718681/header-with-a-logo-and-a-nav-bar-items-in-one-line */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  border-bottom: solid;
  padding: 0.5rem 1rem;
}

header > img { /* logo image */
  height: 60px;
  width: auto;
}

#title {
  margin-top: -20px;
  font-size: 455%;
  text-decoration: overline;
}

.menu_img {
  height: 1725px;
  width: auto;
}

nav { /* alligns nav text to be horizontally center */
  display: flex;
  flex-direction: row;
  flex: 1; /* Use the rest of the available space of the <header> */
  justify-content: left; /* Keep the links in the center of this element  */
  align-items: center; /* Puts the links vertically in the center of the <nav> */
}

nav a { /* properties of nav a text */
  padding: 1rem;
  text-decoration: none; /* Take away the default link styling  */
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 125%;
  border-bottom: 2px solid transparent;
  margin-left: 1cm;
}

nav a:hover { /* line underneath nav text when u hover it - highlights where user will click */
  border-bottom: 3px solid rgb(255, 255, 255);
  transition: border-bottom 0.4s ease-in;
}

body {
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Vertically center items */
  padding: 3rem;
}

.text {
  margin-right: 4rem;
}

figure {
  margin: 0; /* Remove any default margin */
}

.main_img {
  max-width: 540px; /* You can set a max-width for the image */
  height: auto; /* Maintain aspect ratio */
  margin-top: -50px;
}

main h1 {
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-size: 300%;
  margin-top: 25px;
  margin-bottom: 10px;
}

main p {
  margin-top: 25px; /* https://generatepress.com/forums/topic/spacing-between-heading-and-paragraph/ */
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-size: 200%;
  font-style: italic;
}

.menu_button {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 20px 30px; /* size of button */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Helvetica;
  font-size: 20px;
  margin: 15px 2px;
  margin-right: 0.3cm;
  cursor: pointer;
}

.res_button {
  background-color: #000000;
  border: 2px solid black;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Helvetica;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  position: relative; /* https://forum.freecodecamp.org/t/how-to-keep-footer-at-bottom-of-the-page/651022 */
  height: 100px;
  margin-top: -50px;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  border-bottom: solid;
  padding: 0.5rem 1rem;
}

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa-brands {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 0.2cm;
  background: #ffffff;
  color: rgb(0, 0, 0);
  margin-left: 33px;
}

.fa-youtube:hover {
  background: #ff0000;
  color: rgb(255, 255, 255);
}

.fa-instagram:hover {
  background: #125688;
  color: white;
}

.fa-tiktok:hover {
  background-color: rgb(255, 20, 147);
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*
https://www.w3schools.com/html/html_css.asp - css
https://www.w3schools.com/html/html5_semantic_elements.asp - semantics
https://stackoverflow.com/questions/77718681/header-with-a-logo-and-a-nav-bar-items-in-one-line - css code for header (nav + logo)
https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html - flexbox (text left side, img right side)
https://www.reddit.com/r/html5/comments/u7o29l/how_to_create_a_button_that_works_as_a_link_to/?rdt=43058 - menu buttons

*//*# sourceMappingURL=styles.css.map */