* {
    margin: 0;
    padding: 0;
  }
  
  /* header + nav: https://stackoverflow.com/questions/77718681/header-with-a-logo-and-a-nav-bar-items-in-one-line */
  header {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    background-color: rgb(0, 0, 0);
    border-bottom: solid;
    padding: 0.5rem 1rem; 
  }
  
  header > img { /* logo image */
    height: 70px;
    width: auto; 
  }
  
  nav { /* alligns nav text to be horizontally center */
    display: flex;
    flex-direction: row;
    flex: 1; /* Use the rest of the available space of the <header> */
    justify-content: left; /* Keep the links in the center of this element  */
    align-items: center; /* Puts the links vertically in the center of the <nav> */
  }
  nav a { /* properties of nav a text */
    padding: 1rem;
    text-decoration: none; /* Take away the default link styling  */
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    margin-left: 1cm;
  }
  nav  a:hover { /* line underneath nav text when u hover it - highlights where user will click */
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: border-bottom 0.4s ease-in;
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  main {
    padding: 2rem;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 300%;
  }
  
  p {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 160%;
  }
  
  /*
  https://www.w3schools.com/html/html_css.asp - css
  https://www.w3schools.com/html/html5_semantic_elements.asp - semantics
  https://stackoverflow.com/questions/77718681/header-with-a-logo-and-a-nav-bar-items-in-one-line - css code for header (nav + logo)
  */